# Git
.git
.gitignore

# Compiled binaries (we build them in the container)
go-load-balancer
cmd/backend/backend

# OS-specific
.DS_Store

# Secrets & Certs (don't copy into the build context, mount them)
*.key
*.crt
config.yaml
config.e2e.yaml
config.prod.yaml
config.k8s.yaml
.env

# Logs
*.log

# Infrastructure-as-Code files
kubernetes/
terraform/
cloud-init.sh
docker-compose.yaml
startup-wrapper.sh
test/
test-e2e.sh

# Cache
autocert_cache/