listenAddr: ":8080"
metricsAddr: ":9090"

routes:
  # Route for API servers
  - path: "/api/" # Note the trailing slash for prefix matching
    strategy: "round-robin"
    backends:
      - addr: "localhost:9001"
        weight: 1

  # Default/Web route
  - path: "/" # This will catch everything else
    strategy: "weighted-least-connections"
    backends:
      - addr: "localhost:9002"
        weight: 5
      - addr: "localhost:9003"
        weight: 1