listenAddr: ":8080"
strategy: "weighted-least-connections"
backends:
  - addr: "localhost:9001"
    weight: 5 # This server gets 5x the traffic
  - addr: "localhost:9002"
    weight: 1
  - addr: "localhost:9003"
    weight: 1
